.about {
  padding: 2em;
  text-align: justify;
  background-color: #f2f2f2;
}

.about-header {
  text-align: center;
}

.about-content-one {
  padding: 1em;
  text-align: center;
  background-color: white;
  margin-top: 5em;
}

.showcase-item {
  padding: 2em 0;
}
.showcase-item:not(:first-child) {
  margin-top: 3em;
}

.showcase-item_icon {
  margin: -7em auto 0;
  padding: 29px;
  display: block;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-color: #39cc85;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-item_header {
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px auto 0;
}

.showcase-item_info {
  color: #999999;
}

.about-content-two {
  background-color: black;
  color: white;
  padding: 2em;
  text-align: justify;
}
.clients {
  margin: 3em 0;
}

.clients-item_header {
  font-size: 2em;
}

.clients-item_btn {
  background-color: #39cc85;
  border: none;
  padding: 0.6em 1.8em;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.clients-item_btn:focus {
  outline: none;
}
.clients-item_btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 600px) {
  .about-content-one {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .showcase-item {
    margin-top: 3em;
  }
  .showcase-item_icon {
    margin-top: -10em;
  }

  .showcase-item:last-child {
    margin-top: 6em;
  }

  .showcase-item_info {
    max-width: 25em;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .about-info {
    max-width: 50em;
    margin: 0 auto;
    margin-bottom: 6em;
  }

  .about-content-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .showcase-item:last-child {
    margin-top: 3em;
  }

  .about-content-two {
    text-align: center;
  }

  .clients {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clients-item {
    margin: 0 0.5em;
  }
}
