.about {
  padding: 2em;
  text-align: justify;
  background-color: #f2f2f2;
}

.showCase {
  padding: 1em;
  text-align: center;
  background-color: white;
  margin-top: 5em;
}

.item {
  padding: 2em 0;
}
.item:not(:first-child) {
  margin-top: 3em;
}

.item > span {
  margin: -7em auto 0;
  padding: 29px;
  display: block;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-color: #39cc85;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item > h4 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px auto 0;
}

.item > p {
  color: #999999;
}

.clients {
  background-color: black;
  color: white;
  padding: 2em;
  text-align: justify;
}
.members {
  margin: 3em 0;
}

.members > div > h3 {
  font-size: 2em;
}

.members > div > button {
  background-color: #39cc85;
  border: none;
  padding: 0.6em 1.8em;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.members > div > button:focus {
  outline: none;
}
.members > div > button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 31.5em) {
  .showCase {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .item {
    margin-top: 3em;
  }
  .item > span {
    margin-top: -10em;
  }

  .item:last-child {
    margin-top: 6em;
  }
}
@media screen and (min-width: 50em) {
  .showCase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item:last-child {
    margin-top: 3em;
  }

  .clients {
    text-align: center;
  }

  .members {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .members > div {
    margin: 0 0.5em;
  }
}
