.contact {
  padding: 3em;
  text-align: justify;
}
.form-header {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.contact-btn,
.form_submit-btn {
  background-color: #39cc85;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 1em 3em;
  font-size: 1em;
  cursor: pointer;
}

.form_submit-btn {
  width: 100%;
}

.contact-btn:hover,
.form_submit-btn:hover {
  opacity: 0.8;
}

.form-element_label {
  display: block;
  margin: 0.5em 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.form-element,
.form-element_checkbox {
  width: 100%;
  margin-bottom: 1em;
}

.form-element_input {
  color: black;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
  padding: 1em 1.3em;
  border-radius: 5px;
}

.form-element_input:focus {
  outline: none;
}

.form-element_checkbox {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .contact-header {
    text-align: center;
    font-size: 3em;
  }

  .form {
    width: 80em;
  }

  .contact-content {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .content-info {
    margin: 1em 3em;
  }
}
