.footer {
  background-color: black;
  color: white;
  padding: 2em;
  text-align: justify;
}

.list-items_header {
  font-size: 2em;
}

.list-items_info {
  cursor: pointer;
}

.reserved {
  display: none;
}

@media screen and (min-width: 600px) {
  .grid-content {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .copyright {
    display: flex;
    margin-top: 2em;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
  }
  .footer-content_item {
    padding: 1em;
  }
}
