.footer {
  background-color: black;
  color: white;
  padding: 2em;
  text-align: justify;
}

.footer h4 {
  font-size: 2em;
}

.grid-item p {
  cursor: pointer;
}

.reserved {
  display: none;
}

@media screen and (min-width: 31.5em) {
  .grid-items {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .reserved {
    display: flex;
    margin-top: 2em;
    justify-content: center;
  }
}
@media screen and (min-width: 50em) {
  .footer > div {
    display: flex;
  }
  .footer > div > div {
    padding: 1em;
  }
}
