.hero {
  position: relative;
  margin: 0;
  background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 1em;
}

.hero::before {
  background-color: black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}
li {
  list-style: none;
}
.hero-content {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.bullet {
  padding: 0.5em;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .hero-content {
    padding: 0;
    justify-content: center;
  }
  .hero-content_header {
    font-size: 4em;
  }

  .hero-content > div {
    display: flex;
  }

  .bullet {
    padding: 2em;
  }

  .bullet-header {
    font-size: 2em;
  }

  .bullet-list {
    line-height: 1.7;
  }
  .bullet-list_item {
    font-size: 1.3em;
  }
}
