.hero {
  position: relative;
  margin: 0;
  background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGJ1c2luZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  background-position: center center;
}

.hero::before {
  background-color: black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}
li {
  list-style: none;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.bullets {
  padding: 0.5em;
  border-radius: 4px;
}

@media screen and (min-width: 50em) {
  .content {
    padding: 0;
    justify-content: center;
  }
  .content > h1 {
    font-size: 4em;
  }

  .content > div {
    display: flex;
  }

  .bullets {
    padding: 2em;
  }

  .bullets > h3 {
    font-size: 2em;
  }

  .bullets > ul {
    line-height: 1.7;
  }
  .bullet-item {
    font-size: 1.3em;
  }
}
