.navbar {
  display: block;
  color: white;
  width: 100%;
  padding: 0.8em 0 0.8em 0.5em;
  background-color: #39cc85;
}
.nav-content {
  display: none;
}

@media screen and (min-width: 600px) {
  .navbar {
    padding: 0;
    padding-left: 0.8em;
  }
  .nav-content {
    display: flex;
    align-items: center;
    max-width: 40em;
    margin: auto;
  }
  .nav-logo {
    font-weight: 500;
    font-size: 1em;
  }
}
