.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 50%;
  background-color: black;
  color: white;
  z-index: 3;
  transition: all ease-out 0.3s;
}

.sidebar > h1 {
  font-size: 1em;
  margin-top: 1.4em;
  margin-left: 1em;
}

.links {
  display: flex;
  line-height: 4;
}

.show {
  left: 0;
}

.hidden {
  left: -100%;
}

.close {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  color: white;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
}

.close::before,
.close::after {
  position: absolute;
  top: 15%;
  left: 1em;
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: white;
  content: "";
}
.close::after {
  transform: rotate(-45deg);
}

.subscribe {
  margin-top: 3em;
  text-align: center;
}

.subscribe > input {
  padding: 0.5em;
}

.subscribe > input:focus {
  outline: none;
}

.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-left: 25%;
}

.connect {
  text-align: center;
  margin-top: 5em;
}
.social-network {
  margin-top: 1em;
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 31.5em) {
  .sidebar {
    display: none;
  }
}
