.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 50%;
  background-color: black;
  color: white;
  z-index: 3;
  transition: all ease-out 0.3s;
}

.sidebar-header {
  font-size: 1em;
  margin-top: 1.4em;
  margin-left: 1em;
  max-width: 2em;
}

.sidebar-links {
  display: flex;
  line-height: 4;
}

.show {
  left: 0;
}

.hidden {
  left: -100%;
}

.sidebar_close-icon {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  color: white;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
}

.sidebar_close-icon::before,
.sidebar_close-icon::after {
  position: absolute;
  top: 15%;
  left: 1em;
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: white;
  content: "";
}
.sidebar_close-icon::after {
  transform: rotate(-45deg);
}

.sidebar-subscribe {
  margin-top: 3em;
  text-align: center;
}

.sidebar-subscribe_input {
  padding: 0.5em;
}

.sidebar-subscribe_input:focus {
  outline: none;
}

.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-left: 25%;
}

.sidebar_connect-title {
  text-align: center;
  margin-top: 5em;
}
.sidebar_social-network {
  margin-top: 1em;
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 600px) {
  .sidebar {
    display: none;
  }
}
