.navPages {
  list-style: none;
}

.navPages > li {
  cursor: pointer;
  margin: 0 1em 0 1em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #505050;
}

.navPages > li:hover {
  opacity: 0.8;
}

@media screen and (min-width: 600px) {
  .navPages {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navPages > li {
    width: 100%;
    border-bottom: none;
  }
}
